@import url('https://fonts.googleapis.com/css2?family=Rosarivo&family=Trirong:wght@100;400&display=swap');

/* || CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}
/* reset end */

/* || My css */
body {
  color: #fff;
  height: 100vh;
  background-image: linear-gradient(360deg,rgba(255,187,34,1) 50%,rgb(0,0,0,0) 0%), url(https://images.unsplash.com/photo-1614292253389-bd2c1f89cd0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80);
  background-size: cover;
  background-repeat: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Trirong', serif;
  font-size: 1.5rem;
  padding: 1.5rem;
}

h1 {
  font-family: 'Rosarivo', serif;
  font-size: 13rem;
  text-align: center;
  text-transform: uppercase;
  /* position: absolute; */
  /* top: 10%;
  left: 0;
  right: 0; */
  margin: auto;
}

a {
  display: flex;
  margin: 20px auto;
}

.container {
  position: relative;
}

.header-img {
  position: absolute;
  text-align: center;
  width: 400px;
  top: 12%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.text {
  position: absolute;
  float: left;
  color: black;
  background-color: #fff;
  font-size: 2rem;
  max-width: 50%;
  top: 55%;
  left: 5%;
  margin: 2rem auto;
  padding: 1.5rem;
}