@import url('https://fonts.googleapis.com/css2?family=Rosarivo&family=Trirong:wght@100;400&display=swap');

/* || CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}
/* reset end */

/* || My css */
h1 {
    font-family: 'Rosarivo', serif;
    font-size: 5rem;
    margin: 2rem auto;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Trirong', serif;
    font-size: 1.25rem;
    padding: 1.5rem;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  /* height: 100vh; */
  margin: auto;
}

h1, li, a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

img {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  top: 5%;
  left: 36%;
  width: 400px;
  margin: auto;
}

.box {
  background: orange;
  height: auto;
  width: 500px;
}

.bg-top {
  color: #fff;
  background: url('https://images.unsplash.com/photo-1614292253389-bd2c1f89cd0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2574&q=80');
  background-size: cover;
  height: 40vh;
  width: 100vw;
}

.text {
  /* position: relative; */
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  background-color: #fff;
  font-size: 1.5rem;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 5%;
  margin: 2rem 2rem;
  padding: 1rem;
}

.bg-bottom {
  background: #fb2f;
  height: 60vh;
  width: 100vw;
}